{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h2>{{ search | title}}</h2>


  <div class="row">
      {% for item in final_post%}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
            <a href="{{item.post_url}}"><img src="{{item.post_image}}"></a>
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>{{item.post_title}}</p>
        </div>
        <div class="card-action">
          <a href="{{ item.post_url}}">View listing: Price {{item.post_price}}</a></div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}

